Thumbs.db
.DS_Store
.gradle
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
stacktrace.log
target/
devDb.*
bak/
start.sh
re-deploy2023.sh
re-deploy-backup2023.sh
src/main/groovy/com/vionto/vithesaurus/wikipedia/*.class
