@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: 
        local('Montserrat Light'), local('Montserrat-Light'),
        url('fonts/montserrat-v12-latin-ext_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/montserrat-v12-latin-ext_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: 
        local('Montserrat Regular'), local('Montserrat-Regular'),
        url('fonts/montserrat-v12-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/montserrat-v12-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: 
        local('Montserrat Medium'), local('Montserrat-Medium'),
        url('fonts/montserrat-v12-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/montserrat-v12-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: 
        local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('fonts/montserrat-v12-latin-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/montserrat-v12-latin-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* RESETS */
body {margin: 0; font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; background-color: #eef0f3; color: #536677;}
a, 
a:hover, 
a:focus {
    text-decoration: none;
}
a {
    color: #0a69d8;
}
/*button, input {background: transparent; border: none; outline: none;}*/
img {max-width: 100%; max-height: 100%;}
* {box-sizing: border-box;}
input, 
textarea, 
select, 
button {
    font-family: inherit;
}

/* COMMON */
.container {max-width: 1200px; margin: auto; padding: 0 15px;}
a, button {transition: color .3s ease, border-color .3s ease;}
.link-underline {border-bottom: 1px solid;}
.button {padding: 0;}
.button-icon {font-size: 24px; color: #ced5db; cursor: pointer; transition: color .3s ease;}
.button-icon:hover {color: #0a69d8;}
.uppcase {text-transform: uppercase;}
.word {}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.button--primary {
    background: #0b68d8;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.btn--primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

/* Forms */
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #536677;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: 
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.form-control::placeholder {
    color: rgba(83, 102, 119, 0.65);
}

.form-text {
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

.form-group {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group--horizontal .row {
    align-items: center;
}

.form-group .form-group__label {
    display: inline-block;
    margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
    .form-group--horizontal .form-group__label {
        margin-bottom: 0;
    }
}

.form-group--text {
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

.form-block,
.main-content.form-block {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form-block__title {
    margin: 0 0 1rem;
}

.form-block__message {
    margin-bottom: 1rem;
    color: #ffc107;
}

.form-block__errors {
    color: #dc3545;
    margin-bottom: 1rem;
}

.form-block__description {
    margin-bottom: 1rem;
}

.form-block__header {
    margin-bottom: 1rem;
}

/*.word-dot {position: relative; padding-right: 16px;}*/
/*.word-dot:after {content: '\00B7'; position: absolute; right: 6px;}*/

/* HEADER */
.header {
    background-color: #0a69d8;
    color: #fff;
    position: relative;
}
@media (max-width: 767px) {
    .header {
        font-size: 12px;
    }
}
.header-inner {height: 54px; display: flex; justify-content: space-between; align-items: center;}
.header-menu {}
.header-menu-item {margin-right: 50px;}
.header-menu-item:last-child {margin-right: 0;}
.header a {color: #fff;}
.header a:hover {color: #a8c3ec;}
.header a span {display: inline-block; transition: transform .3s ease;}
.header a:hover span {transform: translateY(-3px);}
.header-logo {display: none; height: 32px; margin-right: auto; margin-left: 15px;}
.header-burger {display: none; font-size: 20px; cursor: pointer;}
@media (max-width: 479px) {
    .header-entry {
        font-size: 10px;
    }
}
@media (max-width: 767px) {
    .header-inner {height: 50px;}
    .header-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0 15px;
        z-index: 100;
        background-color: #0a69d8;
        box-shadow: 0 7px 10px 0px rgba(141, 155, 168, 0.5);
    }
    .header.menu-open .header-menu {
        display: block;
    }
    .header-burger .icon-wrapper {
        width: 32px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .header.menu-open .header-burger .icon--closed {
        display: none;
    }
    .header-burger .icon--opened {
        display: none;
        font-size: 1.5em;
    }
    .header.menu-open .header-burger .icon--opened {
        display: inline-block;
    }
    .header-menu-item {display: block; margin: 20px 0;}
    .header-logo {display: block;}
    .header-burger {display: block;}
    .word-dot {padding-right: 10px;}
    .word-dot:after {right: 4px;}
}

/* MAIN */
.main {padding: 0 0 0; }

.main-logo {
  display: none;
  width: 260px; 
  margin: 0 auto 50px;
}
@media (min-width: 768px) {
  .main-logo {
    display: block;
  }
}

.main-search {
  display: flex; 
  width: 100%; 
  max-width: 350px;
  height: 50px; 
  margin: 0 auto; 
  position: relative;
}

.main-search .spinner {
  position: absolute;
  right: calc(100% + 5px);
  top: 50%;
  transform: translate(0, -50%);
  width: 32px;
  height: 32px;
}
.main-search-input {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: #ced5db;
    font-size: 14px;
    padding: 0 50px 0 15px;
}
.main-search-input::-ms-clear {
    display: none;
}
.main-search-button {width: 50px; padding: 0; background-color: #0b68d8; color: #fff; font-size: 20px;
    border-radius: 0 5px 5px 0; cursor: pointer; transition: background-color .3s ease;}
.main-search-button:hover {background-color: #1e55a8;}
.main-search .button-clearsearch {position: absolute; right: 60px; height: 30px; width: 30px; top: 0; bottom: 0; margin: auto;
    cursor: pointer; color: #ced5db; font-size: 20px;}
.main-search .button-clearsearch:hover {color: #000;}
.main-content {display: flex; max-width: 1200px; background-color: #fff; border-radius: 10px; margin: auto;}
.main-content.main-page {max-width: 800px; flex-direction: column;}
.main-content.detail-page {flex-direction: column;}
.main-content.content-page {flex-direction: column;}
.main-content-col {width: 50%;}
.main-content-col:first-child {border-right: 1px solid #eef0f3;}
.main-content-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #eef0f3;
    padding: 40px;
}
@media (max-width: 767px) {
    .main-content-section {
        font-size: 12px;
        line-height: 14px;
    }
}
.main-content-section:last-child {border-bottom: 0;}
.main-content-section.nowrap {flex-wrap: nowrap;}
.main-content-section-heading {margin-bottom: 15px; font-weight: 600; flex-basis: 100%;}
/*h2 {margin-bottom: 15px; font-weight: 600; flex-basis: 100%;}*/
.main-content-section a {color: #0a69d8;}
.main-content-section a:hover {color: #1e55a8;}
.main-content-section-note {line-height: 23px; color: #aab1b7;}
.main-content.main-page .main-content-section {padding: 20px;}
.main-content-section-block {display: flex; flex-wrap: wrap; align-items: center; width: 100%; margin: 0 0 25px; line-height: 25px;}
.main-content-section-block:last-child {margin: 0;}
.main-content-section-block.nowrap {flex-wrap: nowrap;}
.wordtags {
    color: #8d9ba8;
}
.wordtags.wordtags-big {
    list-style: none;
    padding: 0;
    margin: 0 0 25px;
    display: block;
    font-size: 16px;
}
.wordtags.wordtags-big .wordtag {
    display: inline;
}
.wordtags.wordtags-big .wordtag::after {
    content: '\00B7';
}
.wordtags.wordtags-big .wordtag:last-child::after {
    content: none;
}
.main-content-section-block.wordtags .word-dot:after {color: #0a69d8;}
.main-content-section-block-heading {flex-basis: 100%; text-transform: uppercase; font-weight: 600; margin-bottom: 7px;}
.main-content-section-block-line {display: flex; flex-wrap: wrap; font-weight: 300;}
.main-content-section-block-link {flex-basis: 100%;}
.main-content-section-block-link a {color: #eb8122;}
.synonyms {font-size: 14px; line-height: 33px;}
.synonyms span {  color: #8d9ba8; }
.synonyms-item {margin-right: 7px; color: #8d9ba8;}
.synonyms-item:last-child {margin-right: 0;}
.button-addsynonym {margin-right: 10px;}
.button-addsynonym ~ span {line-height: 1.3;}
.main-content-section.matches-banner {justify-content: center; padding: 20px 40px;}
.page-matches-banner {display: flex; align-items: center; justify-content: center; width: 300px; height: 250px;
    background-color: #edf0f2; color: #ced5db; font-size: 24px;}
.main-content.detail-page .main-content-section-block.wordtags {color: #536677;}
.main-content.detail-page .main-content-section-block-link.note {padding-left: 20px;}
.main-content.detail-page .main-content-section-block-link.note a {color: #0a69d8;}
.main-content.content-page .main-content-section-heading {font-size: 16px; margin-bottom: 20px;}
/*.main-content.content-page h2.main-content-section-heading {font-size: 16px; margin-bottom: 20px;}*/
.main-content.content-page .main-content-section-block {display: block;}
.main-content.content-page .main-content-section-block p {margin: 0;}
.main-content.content-page .main-content-section-block-line {font-weight: 400;}
@media (max-width: 767px) {
    .main {padding: 0 0 35px;}
    .main-logo {display: none;}
    .main-search {height: 38px;}
    .main-search-input {font-size: 12px;}
    .main-search-button {font-size: 15px;}
    .main-search .button-clearsearch {right: 55px; font-size: 15px;}
    .main-content.main-page {border-radius: 0;}
    .main-content.main-page .main-content-section {padding: 15px;}
    .synonyms {font-size: 12px; line-height: 24px;}
    .main-content-section {padding: 15px;}
    .main-content.matches-page {flex-direction: column; background-color: transparent;}
    .main-content.matches-page .main-content-col {width: 100%; background-color: #fff; margin-bottom: 15px; border-radius: 10px;}
    .main-content.matches-page .main-content-col:first-child {border-right: 0; border-bottom: 1px solid #eef0f3; margin-bottom: 15px;}
    .main-content-section-block {line-height: 20px; margin: 0 0 15px;}
    .main-content-section-block.wordtags, .main-content-section-block.wordtags.wordtags-big {font-size: 12px; line-height: 24px;}
    .main-content-section-block-heading {margin-bottom: 3px;}
    .main-content-section.matches-banner {display: none;}
    .main-content.content-page .main-content-section-heading {font-size: 12px;}
}

/* FOOTER */
.footer {
    color: #fff;
    background-color: #0a69d8;
    padding: 80px 0;
    font-size: 13px;
    line-height: 21px;
    position: relative;
}
@media (max-width: 767px) {
    .footer {
        padding: 0 0 40px;
        font-size: 12px;
    }
}
.footer a {color: #fff;}
.footer a:hover {color: #a8c3ec;}
.footer p {margin: 0 0 20px;}
.footer p:last-child {margin: 0;}
.footer-inner {display: flex; justify-content: space-between;}
.footer-about {}
.footer-col {padding: 0 20px;}
.footer-menu {display: flex; flex-wrap: wrap; margin: -15px 0; flex-shrink: 0; flex-basis: 340px; align-self: flex-start;
    position: relative;}
.footer-menu-item {color: #fff; padding: 5px 30px 5px 0; margin: 3px 0;}
.footer-menu-item:nth-child(even) {flex-basis: 40%;}
.footer-menu-item:nth-child(odd) {flex-basis: 60%;}
.footer-partner {position: relative;}
.footer-social {display: flex; margin-top: 40px;}
.footer-social-item a {
  display: inline-block;
  margin-right: 15px;
  width: 36px;
  height: 36px;
  background-color: #1e55a8;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  cursor: pointer;
  transition: 
    color .3s ease, 
    background-color .3s ease;
}
.footer-social-item a:hover {
  background-color: #fff;
  color: #0b68d8;
  transition: 
    color 0s ease, 
    background-color 0s ease;
}
@media (max-width: 767px) {
    .footer p {margin: 0 0 15px;}
    .footer-inner {flex-direction: column;}
    .footer-col {padding: 20px 0; margin: 0;}
    .footer-menu {flex-basis: unset; padding: 15px 0;}
    .footer-menu-item {margin: 0;}
    .footer-social {position: absolute; bottom: 0; height: 40px; margin: 0; background-color: #eef0f3; left: 0; right: 0;
        justify-content: center; align-items: center;}
    .footer-social-item a {
      background-color: unset;
      color: #0b68d8;
    }

    .footer-social-item a:hover {
      background-color: unset;
      color: #1e55a8;
    }
    .footer-menu:before, .footer-partner:before {content: ''; position: absolute; left: -15px; right: -15px; top: 0; height: 1px; background-color: #1e55a8;}
}

/* DANIEL'S CHANGES */
.search-form {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .search-form {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

.newsYear {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}
.newsdate {
    font-weight: bold;
}

.searchResultPopup {
    display: none;
    position: absolute;
    max-width: 760px;
    min-height: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;  /* centers the div, http://stackoverflow.com/questions/16758102/ */
    top: 100%;
    z-index: 100;
}

@media (min-width: 768px) {
    .searchResultPopup {
        top: calc(100% + 15px);
    }
}

.searchResultPopup .main-content {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.searchResultPopup hr {
    color: #ffffff;
    background-color: #ffffff;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #ffffff;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    flex-basis: 100%;
    margin-bottom: 20px;
}

.content-page {
    padding: 15px 25px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .content-page {
        padding: 25px 40px;
        margin-bottom: 60px;
    }
}

.matches-page {
    margin-bottom: 60px;
}

p, li {
    flex-wrap: wrap;
    align-items: center;
    line-height: 25px;
}

.tag {
    color: white;
    padding: 2px 4px 2px 4px;
    border-radius: 6px;
    font-weight: normal;
}

.selectedTag {
    border-color: yellow;
    border-width: 5px;
    border-style: solid;
}

.word-match {
    background: #fcffd0;
    color: black;
}

.statsTable td {
    padding: 6px;
}

.paginateButtons {
    margin-top: 10px;
    border-top: 0;
    color: #666;
    font-size: 100%;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #eee;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
    border: 1px solid #dddddd;
}
.paginateButtons span {
    margin-right: 3px;
    padding: 2px 6px;
    border: 1px solid #dddddd;
}

.paginateButtons .currentStep {
    color: white;
    background-color: #0071BD;
}

#clear-search {
    background: transparent;
    border: none;
    outline: none;
}

.main-search-button {
    border: none;
    outline: none;
}
.button-addsynonym {
    border: none;
    outline: none;
    background: transparent;
}

/* FAQ */
.faqitem .question {
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
}
.faqitem .answer {
}
.faqitem .answer ul {
    margin-top: 5px;
    margin-bottom: 10px;
}

.main-content-section-note-item a {
    color: #aab1b7;
}

.wiktionary,
.wiktionary.main-content-section {
    display: block;
}

.wiktionary-results__block {
    margin-bottom: 20px;
}

.words-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.words-list__item {
    display: inline;
    margin-right: 5px;
}

.words-list-item__number {
    color: #999999;
    font-weight: bold;
    margin-right: 4px;
}

.tooltip {
    position: absolute;
    color: #fff;
    background-color: #0a69d8;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.7;
    padding: 15px;
    min-width: 100px;
    max-width: 370px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.175);
}

.cc_container {
}
.cc_container .cc_btn {
    background-color: #034989 !important;
    color: white !important;
}

.cc_container {
    background: #0362B9 !important;
    color: #fdfdfd !important;
}

.cc_container a {
    color: #51c5ff !important;
}

.api a {
    word-break: break-all;
}

.partial-matches {
    display: block;
}
