html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

.logo {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.logo a:hover {
	background: none;
    text-decoration: none;
}

.mainpage {
    text-align: center;
}

.content {
    text-align: center;
}

body {
    background: #fff;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin-bottom: 30px;
}

a:link, a:visited {
    /*color: #222;*/
    text-decoration: none;
}

a:hover {
    /*color: #222;*/
    background-color: #eee;
    text-decoration: none;
}

h1 {
    color: #006dba;
    font-size: 14px;
    margin: .8em 0 .3em 0;
}

h2 {
    color: #006dba;
    font-size: 14px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
	list-style-image: url(../images/list-bullet.png);
}

.body {
	width: 96%;
    padding-left: 15px;
    padding-right: 15px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors {
    border: 2px solid red;
}

/* TABLES */

.invisibletable {
    border: 0px solid #ccc;
    width: 100%
}
table {
    border: 0px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}
.prop .lessImportantValue {
    text-align: left;
    width: 85%;
    color: #777;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border-width: 1px;
    border-style: solid solid solid solid;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background-color: #ffb200;
    padding-left: 28px;
    width: 100%;
}
.buttons input.login {
    background: transparent;
    padding-left: 28px;
}

/* ---- */

/* middot between words */
.d {
	color: #999999;
}

/* when user input is displayed again */
.inp {
	color: #555555;
}

.preferredTerm {
    font-weight: bold;
}

li.checkboxList {
    list-style: none;
    margin-left: -13px;
}

input[type='text'] {
    width: 300px;
}
input[type='password'] {
    width: 300px;
}

.hintText {
    color: #777;
    text-align: center;
}

img {
    border-width: 0px;
}

/* Diffs in UserEvent view: */
.del {
    text-decoration: line-through;
    background: #ff9292;
}
.add {
    background: #2df1aa;
}
.colspanlist table {
    border-collapse: collapse;
}
.colspanlist th, .list td {
    border-left: 1px solid #ddd;
}
.colspanlist th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* no javascript warning */
.nojs {
    padding: 5px;
    background: yellow;
    border: 2px solid red;
}

.warning {
    margin-top: 10px;
    padding: 5px;
    background: yellow;
    border: 2px solid red;
}

.buildInfo {
    text-align: center;
    color: #aaa;
    font-size: 10px;
    padding-top: 40px;
}

.deletedSynset{
    background:#ff9;
}

.delim {
    color: #aaa;
}

.deletedRow {
    background: #f93;
}

.termMetaInfo {
    color: #777 !important;             /* more important than link color */
}

.metaInfo {
    color: #777;
}

.appMetaInfo {
    color: #aaa;
    text-align: right;
    margin-right: 10px;
}

.rejectLinkRadioButton {
    border: 2px solid #ec7474;
    background-color: #ec7474;
    padding-top: 3px;
    margin-right: 2px;
}

.approveLinkRadioButton {
    border: 2px solid #34b734;
    background-color: #34b734;
    padding-top: 3px;
}

.linkRejected {
    color: #d51d1d;
    text-decoration: line-through;
}

.linkApproved {
    background-color: #5df55d;
}

.neutralLinkRadioButton {
}

/* highlight concepts on the fact page */
.highlightSubj {
    font-weight: bold;
    color: #333;
}

/* highlight concepts on the fact page */
.highlightObj {
    font-weight: bold;
    color: #333;
}

.listindent {
    margin-left: 15px;
}

.listWithSpace {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nohoverlist th:hover, .nohoverlist tr:hover {
}

.newConceptCreation {
    padding: 5px;
    border: 1px solid #ccc;
}

.error {
    background: #ff7c7c;
}

.rejectWordButton {
    display: inline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    background: #ff9b9b;
}

.addAsSynonymButton {
    display: inline;
    margin: 1px;
    padding: 0px;
    border-width: 1px;
    background: #eee;
}

.inlineForm {
    display: inline;
}

.createNewSynset {
    margin-top:5px;
    padding: 5px;
    background: #5affa8;
}

.middlealigntable td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    padding: 2px 2px;
    text-align: left;
    vertical-align: middle;
}

.strongCurrentStep {
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px !important;
    background: #ffe169;
}

.success {
    background: #5affa8;
}

/* highlight of the matched terms in a synset after a search */
.match {
}

/* highlight of the matched term after a search */
.match {
	font-weight: bold;
}

.copyrightInfo {
	margin-left: 15px;
	margin-top: 4px;
	color: #AAAAAA;
	font-size:x-small;
}
.copyrightInfo a {
	font-size: x-small;
	color: #888888;
}


.homepagehead {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

/* news archive */
.newsdate {
	font-weight: bold;
	color:#666666;
}
.newsYearDelimiter {
	background-color: #eee;
	font-weight: bold;
	text-align: right;
}

/* used on "about" page */
.simplePage {
	margin-top: 15px;
	margin-left: 25px;
}

.simplePage ul {
	margin-bottom: 15px;
}

/* ads */
.homepagead_right {
	position: absolute;
	margin-top: 100px;
	left: 80%;
}
.homepagead_bottom {
	margin-top: 70px;
	margin-left: 100px;
	text-align: center;
}
.adstext a {
	color: #5757ee;
}
.adstext {
	color: #777;
}

.wiktionary {
	color: #999;
	font-weight: bold;
}

.light {
	color: #777;
}

.homepagecredits {
	color: #999;
	margin-top: 15px;
	text-align: center;
}
.homepagecredits a {
	color: #888888;
}

/* FAQ: */
.faqpage {
	margin-left: 25px;
	width: 65%;
}	
.faqitem .question {
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 5px;
}
.faqitem .answer {
	margin-left: 10px;
}
.faqitem .answer ul {
	margin-top: 5px;
	margin-bottom: 10px;
}

/* About: */
.aboutpage {
	margin-left: 25px;
	width: 65%;
}	

/* global */
p {
	margin-bottom: 10px;
}
.bsp {
	color: #888888;
	font-weight: bold;
}
